$mainTextColor: black;
$secondTextColor:white;
$headingFont: Poppins;
$contentFont: Quicksand;

@mixin headingFontBlackStyle {
    font-family: $headingFont;
    font-weight: 900;
    color: $secondTextColor;
}
@mixin headingFontBoldStyle {
    font-family: $headingFont;
    font-weight: bold;
    color: $secondTextColor;
}
@mixin contentFontBoldStyle {
    font-family: $contentFont;
    font-weight: bold;
    color: $secondTextColor;
}
@mixin contentFontRegularStyle {
    font-family: $contentFont;
    font-weight: 400;
    color: $secondTextColor;
}
@mixin headingFontBlackStyleProfile {
    font-family: $headingFont;
    font-weight: 900;
    color: $mainTextColor;
}
@mixin headingFontBoldStyleProfile {
    font-family: $headingFont;
    font-weight: bold;
    color: $mainTextColor;
}
@mixin contentFontBoldStyleProfile {
    font-family: $contentFont;
    font-weight: bold;
    color: $mainTextColor;
}
@mixin contentFontRegularStyleProfile {
    font-family: $contentFont;
    font-weight: 400;
    color: $mainTextColor;
}
@mixin  formHeadingDesign {
    @include headingFontBoldStyle();
    font-size: 5vh;
    margin-bottom: 4vh;
}
@mixin  formInputDesign {
    background: transparent;
    border: 1px solid $secondTextColor;
    height: 9vh;
    @include contentFontRegularStyle();
}
@mixin  formLabelDesign {
    @include contentFontBoldStyle();
    font-size: 2.2vh;
}
@mixin  formSubmitDesign {
    background: #EDAC04;
    border: none;
    @include headingFontBoldStyle();
    padding: 1.5vh;
    border-radius: 1vh;
    margin-top: 1vh;
}
@mixin circlePhoto {
    background-color: $mainTextColor;
    border-radius: 20vh;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h1,p{
    margin: 0;
}


// Navbar Section
nav{
    background:linear-gradient(90deg,#79DAE8,#0AA1DD);
    border: none;

    .home{
        p{
            @include headingFontBlackStyle();
            font-size: 3.5vh;
            margin-bottom: 0;
            text-align: center;
            padding-top: 2vh;
            padding-bottom: 2vh;

            a{
                color: $secondTextColor;

                &:hover{
                    color: rgb(243, 233, 233);
                }
            }
        }
    }
    .forms{
        p{
            @include headingFontBlackStyle();
            font-size: 3.5vh;
            margin-bottom: 0;
            text-align: center;
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
    }
    
    &.loggedIn{
        p{
            @include headingFontBlackStyle();
            font-size: 3.5vh;
        }
        nav{
            background: none;
            position: relative;

            .navImageCircle{
                @include circlePhoto();
                height: 33px;
                width: 33px;
                margin-left: 2vh;
            }
            a{
                margin-left: 4vh;

                i{
                    font-size: 3.9vh;
                    color: $secondTextColor;
                }
                &:hover{
                    i{
                        color: black;
                    }
                }
            }
            ul{
                padding-bottom: 2vh;

                li{
                    width: 16vw;

                    a{
                        @include headingFontBoldStyleProfile();
                        padding: 2vh;
                        margin: 0;
                        transition: 0.2s all ease-in;

                        i{
                            color: black;
                            margin-right: 1.3vh;
                            transition: 0.2s all ease-in;
                        }
                        &:hover{
                            color: white;
                            background-color: #0AA1DD;

                            i{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
@media all and (min-width:576px) and (max-width:767px) and (orientation:landscape){
    nav{
        .home{
            p{
                text-align: left;
            }
        }
    }
}
@media all and (min-width:768px) and (max-width:991px) and (orientation:landscape){
    nav{
        .home{
            p{
                text-align: left;
            }
        }
    }
}
@media all and (min-width:992px) and (max-width:1199px) and (orientation:landscape){
    nav{
        .home{
            p{
                text-align: left;
            }
        }
    }
}
@media all and (min-width:1200px){
    nav{
        .home{
            p{
                text-align: left;
            }
        }
    }
}

// Hero Section
section.hero{
    background:linear-gradient(90deg,#79DAE8,#0AA1DD);
    height: 90vh;
    overflow: hidden;
    
    .tagLine{
        text-align: center;

        p{
            @include headingFontBlackStyle();
            font-size: 5.5vh;
            margin-top: 17vh;
        }
        input{
            background: #EDAC04;
            border: none;
            @include headingFontBoldStyle();
            font-size: 2.8vh;
            padding: 2vh;
            border-radius: 1vh;
            margin-top: 3vh;
            margin-right: 4vh;

            &.margin{
                margin-right: 0;
            }
        }
    }
    .gif{
        display: none;
    }
    .signUpForm{
        h1{
            @include formHeadingDesign();
            margin-top: 3vh;
        }
        .form{
            input{
                @include formInputDesign();
                width: 74%;
            }
            label{
                @include formLabelDesign();
            }
        }
        .errorMessage{
            border-radius: 1vh;
            text-align: center;

            p{
                @include contentFontRegularStyle();
                font-size: 2vh;
                background-color: red;
                padding: 2vh;
                border-radius: 1vh;

                &.emailError{
                    padding: 2vh;
                }
                &.usernameError{
                    padding: 1.4vh;
                    font-size: 1.6vh;
                }
                &.passwordError{
                    padding: 1vh;
                    font-size: 1.5vh;
                }
                &.confirmpasswordError{
                    padding: 1.5vh;
                }
            }
        }
        .submit{
            input{
                @include formSubmitDesign();
            }
            p{
                padding-top: 2.5vh;
                padding-bottom: 2.5vh;
                margin-bottom: 0;
                @include contentFontRegularStyle();
                font-size: 2vh;
                float: right;

                a{
                    color: white;
                    @include contentFontBoldStyle();
                }
            }
        }
        .row{
            .form{
                input{
                    width: 100%;
                }
                label{
                    margin-left: 2vh;
                }
            }
        }
    }
    .loginForm{
        h1{
            @include formHeadingDesign();
            margin-top: 10vh;
        }
        .form{
            input{
                @include formInputDesign();
                width: 74%;
            }
            label{
                @include formLabelDesign();
            }
        }
        .submit{
            input{
                @include formSubmitDesign();
            }
            p{
                padding-top: 2.5vh;
                padding-bottom: 2.5vh;
                margin-bottom: 0;
                @include contentFontRegularStyle();
                font-size: 2vh;
                float: right;

                a{
                    color: white;
                    @include contentFontBoldStyle();
                }
            }
        }
        .errorMessage{
            padding-top: 4vh;
            padding-bottom: 4vh;

            p{
                display: inline;
                border-radius: 1vh;
                padding: 2vh;
                font-size: 2vh;
                @include contentFontRegularStyle();
            }
        }
    }
    .profile{
        h1{
            @include formHeadingDesign();
            margin-top: 3vh;
        }

        .form{
            input{
                @include formInputDesign();
            }
            label{
                @include formLabelDesign();
                margin-left: 1.7vh;
            }

            &.image-upload{
                input{
                    border: none;
                }
            }
        }
        .errorMessage{
            border-radius: 1vh;
            text-align: center;

            p{
                @include contentFontRegularStyle();
                font-size: 2vh;
                background-color: red;
                padding: 2vh;
                border-radius: 1vh;

                &.birthdayError{
                    font-size: 1.9vh;
                }
                &.photoError{
                    font-size: 1.9vh;
                }
            }
        }
        .submit{
            input[type=submit]{
                @include formSubmitDesign();
            }
        }
    }
    .friends{
        img{
            height: 20vh;
        }
    }
}
@media all and (min-width:540px) and (max-height:720px){
    section.hero{
        .tagLine{
            p{
                font-size: 6vh;
            }
        }
    }
}
@media all and (min-width:576px) and (max-width:767px) and (orientation:portrait) {
    section.hero{
        .col-sm-6{
            width: 100%;
        }
    }
}
@media all and (min-width:576px) and (max-width:767px) and (orientation:landscape){
    section.hero{
        .tagLine{
            text-align: left;
        }
        .gif{ 
            display: block;

            img{
                height: 70vh;
                border-radius: 2vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6vh;
            }
        }
    }
}
@media all and (min-width:768px) and (max-width:991px) and (orientation:landscape){
    section.hero{
        .col-md-12{
            width: 50%;
        }
        .tagLine{
            text-align: left;
        }
        .gif{ 
            display: block;

            img{
                height: 70vh;
                border-radius: 2vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6vh;
            }
        }
    }
}
@media all and (min-width:992px) and (max-width:1199px) and (orientation:portrait){
    section.hero{
        .col-lg-6{
            width: 100%;
        }
        .tagLine{
            p{
                font-size: 6vh;
            }
        }
    }
}
@media all and (min-width:992px) and (max-width:1199px)and (orientation:landscape){
    section.hero{
        .tagLine{
            text-align: left;
        }
        .gif{ 
            display: block;

            img{
                height: 70vh;
                border-radius: 2vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6vh;
            }
        }
    }
}
@media all and (min-width:1200px){
    section.hero{
        .tagLine{
            text-align: left;

            p{
                margin-top: 20vh;
            }
            input{
                margin-top: 3vh;
                margin-right: 4vh;
            }
        }
        .gif{ 
            display: block;

            img{
                height: 70vh;
                border-radius: 2vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6vh;
            }
        }
    }
}

// Profile Section
section.profile{
    margin-top: 6vh;

    .circlePhoto{
        input[type=file]{
            width: 100%;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }
    }
    .profileName{
        padding-top: 6vh;
        padding-bottom: 6vh;
        
        h1{
            @include headingFontBoldStyleProfile();
        }
        p{
            @include contentFontRegularStyleProfile();
            font-size: 4vh;
        }
        .form{
            padding: 0;
            
            label{
                @include contentFontBoldStyleProfile();
            }
            input{
                @include contentFontRegularStyleProfile();
                border: 1px solid black;
                height: 9vh;
            }
        }
    }
    .otherProfile{
        h1{
            @include headingFontBoldStyleProfile();

            p{
                @include contentFontRegularStyleProfile();
                font-size: 4vh;
            }
        }
    }
    .profileFeed{
        .info{
            
            .intro{
                border: 1px solid $mainTextColor;
                border-radius: 2vh;
                padding: 3vh;
                padding-top: 4vh;
                padding-bottom: 5vh;
                width: 90%;
                margin-bottom: 5vh;
                margin-top: 10vh;

                h1{
                    @include headingFontBoldStyleProfile();
                    font-size: 4vh;
                    margin-bottom: 3vh;
                }
                p{
                    @include contentFontRegularStyleProfile();
                    font-size: 3vh;
                    margin-bottom: 1.5vh;

                    span{
                        @include headingFontBoldStyleProfile();
                    }
                }
                .form{
                    label{
                        @include contentFontBoldStyleProfile();
                    }
                    input{
                        @include contentFontRegularStyleProfile();
                        border: 1px solid black;
                    }
                }
                button{
                    width: 100%;
                    border: none;
                    background-color: #0AA1DD;
                    border-radius: 2vh;
                    margin-top: 2vh;
                    transition: 0.2s all ease-in-out;

                    h1{
                        margin: 0;
                        padding: 2vh;
                        font-size: 3vh;
                        color: white;
                        transition: 0.2s all ease-in-out;
                    }
                    &:hover{
                        background-color: white;
                        border: 1px solid black;

                        h1{
                            color: #0AA1DD;
                        }
                    }
                }
            }
        }
        .newsFeed{
            .feed{
                border: 1px solid $mainTextColor;
                border-radius: 2vh;
                padding: 3vh;
                padding-top: 4vh;
                padding-bottom: 4vh;
                margin-bottom: 5vh;
                margin-top: 10vh;

                .profImage{
                    @include circlePhoto();
                    height: 59px;
                    width: 59px;
                    margin-left: 2vh;
                }
                .postInput{
                    .form{
                        button{
                            border-top: 1px solid $mainTextColor;
                            border-right: 1px solid $mainTextColor;
                            border-bottom: 1px solid $mainTextColor;
                            border-left: none;
                            background: none;
                            border-radius: 1vh;

                            i{
                                padding-right: 1vh;
                                padding-left: 1vh;
                                font-size: 3vh;
                            }
                            &:hover{
                                i{
                                    color: #0AA1DD;
                                }
                            }
                        }
                    }
                    input{
                        border-top: 1px solid $mainTextColor;
                        border-left: 1px solid $mainTextColor;
                        border-bottom: 1px solid $mainTextColor;
                        border-right: none;

                        &:focus{
                            outline:0px !important;
                            -webkit-appearance:none;
                            box-shadow: none !important;
                        }
                    }
                    label{
                        @include contentFontRegularStyleProfile();
                        z-index: 10;
                    }
                }
            }
            .noProfilePostImage{
                margin-top: 3vh;
                img{
                    height: 10vh;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }
            .noProfilePostContent{
                width: 35vw;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3vh;
                p{
                    @include contentFontBoldStyleProfile();
                    text-align: center;
                }
            }
            .post{
                border: 1px solid $mainTextColor;
                border-radius: 2vh;
                padding: 2vh;
                padding-top: 4vh;
                padding-bottom: 2vh;
                margin-bottom: 5vh;

                .profImage{
                    @include circlePhoto();
                    height: 70px;
                    width: 70px;
                    margin-left: 2vh;
                }
                .postName{
                    padding:0;
                    
                    h1{
                        @include headingFontBoldStyleProfile();
                        font-size: 3vh;

                        p{
                            @include contentFontRegularStyleProfile();
                            font-size: 2.2vh;
                        }
                    }
                }
                .postSettings{
                    .dropdown{
                        a{
                            font-size: 3vh;
                        }
                        ul{
                            li{
                                a{
                                    color: $mainTextColor;
                                    font-size: 2.5vh;
                                }
                            }
                        }
                    }
                }
                .postContent{
                    margin-top: 5vh;
                    padding-left: 3.4vh;
                    margin-bottom: 5vh;

                    p{
                        @include contentFontRegularStyleProfile();
                        font-size: 4vh;
                    }
                }
                .postMenu{
                    width: 94%;
                    margin-left: auto;
                    margin-right: auto;

                    .likes{
                        .likesCount{
                            margin-bottom: 2vh;
                            margin-top: 2vh;

                            .logo{
                                padding: 0;
                                height: 4vh;
                                a{
                                    color: $mainTextColor;
                                    
                                    img{
                                        height: 3vh;
                                    }
                                }
                                span{
                                    @include contentFontRegularStyleProfile();
                                    font-size: 2vh;
                                }
                            }
                            .modal{
                                .modal-header{
                                    h5{
                                        @include headingFontBoldStyleProfile();
                                    }
                                }
                                .modal-body{
                                    p{
                                        @include contentFontRegularStyleProfile();
                                        margin-bottom: 1.5vh;
                                    }
                                }
                                .modal-footer{
                                    button{
                                        background-color: #0AA1DD;
                                        border: none;
                                        @include headingFontBoldStyle();

                                        &:hover{
                                            border: 1px solid $mainTextColor;
                                            color: #0AA1DD;
                                            background-color: $secondTextColor;
                                        }
                                    }
                                }
                            }
                        }
                        .likeButton{
                            padding-top: 2vh;
                            border-top: 1px solid black;

                            button{
                                border: none;
                                background: none;
                                @include headingFontBoldStyleProfile();
                                font-size: 2.7vh;

                                &:hover{
                                    color: #0AA1DD;
                                }
                            }
                        }
                    }
                    .comment{
                        .buttons{
                            margin-top: 8vh;
                            padding-top: 2vh;
                            border-top: 1px solid black;

                            button{
                                border: none;
                                background: none;
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
    
                                p{
                                    text-align: center;
                                    @include headingFontBoldStyleProfile();
                                    font-size: 2.7vh;
                                }
                                &:hover{
                                    p{
                                        color: #0AA1DD;
                                    }
                                }
                            }
                        }
                    }
                }
                .comments{
                    padding-left: 3vh;
                    padding-right: 3vh;
                    position: relative;

                    .commentCount{
                        margin-bottom: 2vh;
                        position: absolute;
                        text-align: right;
                        right: 0;
                        top: -11.7vh;
                        margin-right: 2vh;
                        z-index: -10;
                        
                        span{
                            @include contentFontRegularStyleProfile();
                            font-size: 2vh;
                        }
                    }
                    .profPhoto{
                        @include circlePhoto();
                        width: 40px;
                        height: 40px;
                        margin-top: 2vh;
                    }
                    .commentTile{
                        border: 1px solid $mainTextColor;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        padding: 1vh;
                        margin-bottom: 2vh;
                        border-radius: 2vh;
                        padding-top: 3vh;
                        padding-bottom: 3vh;
                        margin-top: 2vh;
                    }
                    .name{
                        h1{
                            @include headingFontBoldStyleProfile();
                            font-size: 2vh;
                            margin-bottom: 1vh;

                            span{
                                padding-left: 2vh;
                                @include contentFontRegularStyleProfile();
                                font-size: 1.7vh;
                            }
                        }
                        p{
                            @include contentFontRegularStyleProfile();
                            font-size: 2.3vh;
                            
                        }
                    }
                    .settings{
                        button{
                            float: right;
                            border: none;
                            background: none;

                            &:hover{
                                border: 1px solid black;
                                border-radius: 1vh;
                            }
                        }
                    }
                }
                .form{
                    margin-top: 2vh;
                    margin-bottom: 2vh;
                    padding: 0;
                    padding-left: 3vh;
                    padding-right: 3vh;
                    
                    button{
                        border-top: 1px solid $mainTextColor;
                        border-right: 1px solid $mainTextColor;
                        border-bottom: 1px solid $mainTextColor;
                        border-left: none;
                        background: none;
                        z-index: 10;
                        border-radius: 2vh;

                        i{
                            font-size: 3vh;
                            padding-right: 1vh;
                            padding-left: 1vh;
                        }
                        &:hover{
                            color: #0AA1DD;
                        }
                    }
                    input{
                        border-top: 1px solid $mainTextColor;
                        border-left: 1px solid $mainTextColor;
                        border-bottom: 1px solid $mainTextColor;
                        border-right: none;

                        &:focus{
                            outline:0px !important;
                            -webkit-appearance:none;
                            box-shadow: none !important;
                        }
                    }
                    label{
                        @include contentFontRegularStyleProfile();
                        padding-left: 5vh;
                        z-index: 10;
                    }
                    }
            }
        }
    }
    .privateProfile{
        margin-top: 10vh;

        .image{
            img{
                height: 30vh;
                float: right;
            }
        }
        .warning{
            h1{
                @include headingFontBoldStyleProfile();
            }
        }
    }
}

// Search Page
section.searchPage{
    .form{
        button{
            background: none;
            border-top: 1px solid $mainTextColor;
            border-right: 1px solid $mainTextColor;
            border-bottom: 1px solid $mainTextColor;
            border-left: none;
            border-radius: 1vh;

            i{
                font-size: 3vh;
                padding-right: 1vh;
                padding-left: 1vh;
            }
            &:hover{
                color:#0AA1DD;
            }
        }
        
        input{
            border-top: 1px solid $mainTextColor;
            border-left: 1px solid $mainTextColor;
            border-bottom: 1px solid $mainTextColor;
            border-right: none;
            @include contentFontRegularStyleProfile();

            &:focus{
                outline:0px !important;
                -webkit-appearance:none;
                box-shadow: none !important;
            }
        }
        label{
            @include contentFontBoldStyleProfile();
            z-index: 10;
        }
    }
    .searchTile{
        margin-bottom: 4vh;
        margin-top: 4vh;

        .image{
            img{
                height: 100px;
                float: right;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .detail{
            h1{
                font-size: 3vh;
                @include headingFontBoldStyleProfile();

                a{
                    color: $mainTextColor;

                    &:hover{
                        color:#0AA1DD;
                    }
                }
            }
            small{
                @include contentFontBoldStyleProfile();
                font-size: 2.5vh;
            }
        }
    }
    .noSearchImage{
        margin-top: 5vh;

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40vh;
        }
    }
    .noSearchContent{
        margin-top: 4vh;
        
        p{
            text-align: center;
            @include contentFontBoldStyleProfile();
            font-size: 4vh;
        }
    }
}

// Friends List Page
section.friendsList{
    .title{
        margin-bottom: 5vh;

        h1{
            @include headingFontBoldStyleProfile();
            font-size: 5vh;
        }
    }
    .listTile{
        margin-bottom: 4vh;
        margin-top: 4vh;

        .image{
            img{
                object-fit:"cover";
                border-radius: 500px;
                height: 15vh;
                float: right;
            }
        }
        .detail{
            h1{
                font-size: 3vh;
                @include headingFontBoldStyleProfile();

                a{
                    color: $mainTextColor;

                    &:hover{
                        color:#0AA1DD;
                    }
                }
            }
            small{
                @include contentFontBoldStyleProfile();
                font-size: 2.5vh;
            }
        }
    }
    .noFriendsImage{
        margin-top: 5vh;

        img{
            height: 60vh;
            display: block;
            margin-left: auto;
        }
    }
    .noFriendsContent{
        p{
            @include contentFontBoldStyleProfile();
            font-size: 3.5vh;
        }
    }
}

// Friend Request Page
section.friendRequests{
    .title{
        margin-bottom: 5vh;

        h1{
            @include headingFontBoldStyleProfile();
            font-size: 5vh;
        }
    }
    .friendsProfile{
        margin-bottom: 4vh;
        
        .friendsImage{
            img{
                height: 80px;
            }
        }
        .friendsDetail{
            h1{
                @include headingFontBoldStyleProfile();
                font-size: 3vh;
    
                small{
                    @include contentFontBoldStyleProfile();
                    font-size: 2.5vh;
                }
            }
            button{
                background: none;
                border: none;
                height: 30px;
                width: 30px;
                padding: 0;
                text-align: left;

                i{
                    font-size: 3vh;

                    &.green{
                        color: green;
                    }
                    &.red{
                        color: red;
                    }
                }
            }
        }
    }
    .noFriendRequest{
        margin-top: 5vh;
        
        img{
            display: block;
            margin-left: auto;
            height: 60vh;
        }
    }
    .noFriendRequestContent{
        p{
            @include contentFontBoldStyleProfile();
            font-size: 3.5vh;
        }
    }
}

// Settings Page
section.settings{
    .title{
        margin-bottom: 6vh;

        h1{
            @include headingFontBoldStyleProfile();
            font-size: 5vh;
            padding-bottom: 4vh;
            border-bottom: 1px solid black;
        }
    }
    .account{
        .accountMenuTitle{
            margin-bottom: 6vh;
            
            h1{
                @include headingFontBoldStyleProfile();
                font-size: 3vh;
            }
        }
        .accountMenuInput{
            p{
                @include contentFontRegularStyleProfile();
            }
        }
        .edit{
            button{
                background: none;
                border: none;
                float: right;

                i{
                    font-size: 2.8vh;
                }
            }
        }
        .errorMessage{
            p{
                background-color: red;
                border-radius: 1vh;
                padding: 1.5vh;
                font-size: 2vh;
                @include contentFontRegularStyle();
            }
        }
        .delete{
            margin-top: 2vh;
            
            button{
                background-color: rgb(211, 16, 16);
                border: none;
                padding: 2vh;
                @include headingFontBoldStyleProfile();
                border-radius: 2vh;
                transition: 0.2s all ease-in-out;

                p{
                    color: white;
                    transition: 0.2s all ease-in-out;
                }
                &:hover{
                    background: none;
                    border: 1px solid black;
                    
                    p{
                        color: rgb(211, 16, 16);
                    }
                }
            }
        }
    }
    
    
    
}

// Notification Page
section.notifications{
    h1.title{
        @include headingFontBoldStyleProfile();
        font-size: 5vh;
    }
    h1.menu{
        @include headingFontBoldStyleProfile();
        font-size: 4vh;
        margin-top: 5vh;
    }
    .notif{
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 2vh;
        margin-top: 1vh;
        padding-left: 4vh;
        padding-right: 4vh;

        &:hover{
            background-color: #d5f7fc;
        }
        .circlePhoto{
            @include circlePhoto();
            height: 70px;
            width: 70px;
        }
        .notifTile{
            p{
                @include headingFontBoldStyleProfile();
                font-size: 2.5vh;
    
                span{
                    @include contentFontRegularStyleProfile();
                }
            }
        }
        .blueDot{
            height: 13px;
            width: 13px;
            background-color: #0AA1DD;
            border-radius: 20vh;
            padding: 9;
        }
        
    }
}

// NotifIndividual Page
section.notifIndivPost{
    margin-top: 5vh;
    
    .notifTiles{
        margin-left: auto;
        
        .post{
            border: 1px solid $mainTextColor;
            border-radius: 2vh;
            padding: 2vh;
            padding-top: 4vh;
            padding-bottom: 2vh;
            margin-bottom: 5vh;

            .profImage{
                @include circlePhoto();
                height: 70px;
                width: 70px;
                margin-left: 2vh;
            }
            .postName{
                padding:0;
                
                h1{
                    @include headingFontBoldStyleProfile();
                    font-size: 3vh;

                    p{
                        @include contentFontRegularStyleProfile();
                        font-size: 2.2vh;
                    }
                }
            }
            .postSettings{
                .dropdown{
                    a{
                        font-size: 3vh;
                    }
                    ul{
                        li{
                            a{
                                color: $mainTextColor;
                                font-size: 2.5vh;
                            }
                        }
                    }
                }
            }
            .postContent{
                margin-top: 5vh;
                padding-left: 3.4vh;
                margin-bottom: 5vh;

                p{
                    @include contentFontRegularStyleProfile();
                    font-size: 4vh;
                }
            }
            .postMenu{
                width: 94%;
                margin-left: auto;
                margin-right: auto;

                .likes{
                    .likesCount{
                        margin-bottom: 2vh;
                        margin-top: 2vh;

                        .logo{
                            padding: 0;
                            height: 4vh;
                            a{
                                color: $mainTextColor;

                                img{
                                    height: 3vh;
                                }
                            }
                            span{
                                @include contentFontRegularStyleProfile();
                                font-size: 2vh;
                            }
                        }
                    }
                    .likeButton{
                        padding-top: 2vh;
                        border-top: 1px solid black;

                        button{
                            border: none;
                            background: none;
                            @include headingFontBoldStyleProfile();
                            font-size: 2.7vh;

                            &:hover{
                                color: #0AA1DD;
                            }
                        }
                    }
                }
                .comment{
                    .buttons{
                        margin-top: 8vh;
                        padding-top: 2vh;
                        border-top: 1px solid black;

                        button{
                            border: none;
                            background: none;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;

                            p{
                                text-align: center;
                                @include headingFontBoldStyleProfile();
                                font-size: 2.7vh;
                            }
                            &:hover{
                                p{
                                    color: #0AA1DD;
                                }
                            }
                        }
                    }
                }
            }
            .comments{
                padding-left: 3vh;
                padding-right: 3vh;
                position: relative;

                .commentCount{
                    margin-bottom: 2vh;
                    position: absolute;
                    text-align: right;
                    right: 0;
                    top: -11.7vh;
                    margin-right: 2vh;
                    z-index: -10;
                    
                    span{
                        @include contentFontRegularStyleProfile();
                        font-size: 2vh;
                    }
                }
                .profPhoto{
                    @include circlePhoto();
                    width: 40px;
                    height: 40px;
                    margin-top: 2vh;
                }
                .commentTile{
                    border: 1px solid $mainTextColor;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    padding: 1vh;
                    margin-bottom: 2vh;
                    border-radius: 2vh;
                    padding-top: 3vh;
                    padding-bottom: 3vh;
                    margin-top: 2vh;
                }
                .name{
                    h1{
                        @include headingFontBoldStyleProfile();
                        font-size: 2vh;
                        margin-bottom: 1vh;

                        span{
                            padding-left: 2vh;
                            @include contentFontRegularStyleProfile();
                            font-size: 1.7vh;
                        }
                    }
                    p{
                        @include contentFontRegularStyleProfile();
                        font-size: 2.3vh;
                        
                    }
                }
                .settings{
                    button{
                        float: right;
                        border: none;
                        background: none;

                        &:hover{
                            border: 1px solid black;
                            border-radius: 1vh;
                        }
                    }
                }
            }
            .form{
                margin-top: 2vh;
                margin-bottom: 2vh;
                padding: 0;
                padding-left: 3vh;
                padding-right: 3vh;
                
                button{
                    border-top: 1px solid $mainTextColor;
                    border-right: 1px solid $mainTextColor;
                    border-bottom: 1px solid $mainTextColor;
                    border-left: none;
                    background: none;
                    z-index: 10;
                    border-radius: 2vh;

                    i{
                        font-size: 3vh;
                        padding-right: 1vh;
                        padding-left: 1vh;
                    }
                    &:hover{
                        color: #0AA1DD;
                    }
                }
                input{
                    border-top: 1px solid $mainTextColor;
                    border-left: 1px solid $mainTextColor;
                    border-bottom: 1px solid $mainTextColor;
                    border-right: none;

                    &:focus{
                        outline:0px !important;
                        -webkit-appearance:none;
                        box-shadow: none !important;
                    }
                }
                label{
                    @include contentFontRegularStyleProfile();
                    padding-left: 5vh;
                    z-index: 10;
                }
                }
        }
    }
}

// Home Page
section.homepage{
    margin-top: 5vh;

    .shortcutMenu{
        position: fixed;

        .shortcutTile{
            border: 1px solid $mainTextColor;
            border-radius: 2vh;
            padding: 5vh;
            padding-top: 4vh;
            padding-bottom: 5vh;
            width: 90%;
    
            h1{
                @include headingFontBoldStyleProfile();
                font-size: 4vh;
                margin-bottom: 3vh;
            }
            .shortcutPic{
                a{
                    color: $mainTextColor;
    
                    img{
                        width: 33px;
                        height: 33px;
                        object-fit: cover;
                        border-radius: 500px;
                    }
                    i{
                        font-size: 4.5vh;
                    }
                    &:hover{
                        color: #0AA1DD;
                    }
                }
            }
            .shortcutTitle{
                a{
                    color: $mainTextColor; 
                    @include contentFontBoldStyleProfile();
                    font-size: 2.5vh;

                    &:hover{
                        color: #0AA1DD;
                    }
                }
            }
        }
    }
    .newsFeed{
        position: relative;
        .feed{
            border: 1px solid $mainTextColor;
            border-radius: 2vh;
            padding: 3vh;
            padding-top: 4vh;
            padding-bottom: 4vh;
            margin-bottom: 5vh;

            .profImage{
                @include circlePhoto();
                height: 59px;
                width: 59px;
                margin-left: 2vh;
            }
            .postInput{
                .form{
                    button{
                        border-top: 1px solid $mainTextColor;
                        border-right: 1px solid $mainTextColor;
                        border-bottom: 1px solid $mainTextColor;
                        border-left: none;
                        background: none;
                        border-radius: 1vh;

                        i{
                            padding-right: 1vh;
                            padding-left: 1vh;
                            font-size: 3vh;
                        }
                        &:hover{
                            i{
                                color: #0AA1DD;
                            }
                        }
                    }
                }
                input{
                    border-top: 1px solid $mainTextColor;
                    border-left: 1px solid $mainTextColor;
                    border-bottom: 1px solid $mainTextColor;
                    border-right: none;

                    &:focus{
                        outline:0px !important;
                        -webkit-appearance:none;
                        box-shadow: none !important;
                    }
                }
                label{
                    @include contentFontRegularStyleProfile();
                    z-index: 10;
                }
            }
        }
        .post{
            border: 1px solid $mainTextColor;
            border-radius: 2vh;
            padding: 2vh;
            padding-top: 4vh;
            padding-bottom: 2vh;
            margin-bottom: 5vh;

            .profImage{
                @include circlePhoto();
                height: 70px;
                width: 70px;
                margin-left: 2vh;
            }
            .postName{
                padding:0;
                
                h1{
                    @include headingFontBoldStyleProfile();
                    font-size: 3vh;

                    p{
                        @include contentFontRegularStyleProfile();
                        font-size: 2.2vh;
                    }
                }
            }
            .postSettings{
                .dropdown{
                    a{
                        font-size: 3vh;
                    }
                    ul{
                        li{
                            a{
                                color: $mainTextColor;
                                font-size: 2.5vh;
                            }
                        }
                    }
                }
            }
            .postContent{
                margin-top: 5vh;
                padding-left: 3.4vh;
                margin-bottom: 5vh;

                p{
                    @include contentFontRegularStyleProfile();
                    font-size: 4vh;
                }
            }
            .postMenu{
                width: 94%;
                margin-left: auto;
                margin-right: auto;

                .likes{
                    .likesCount{
                        margin-bottom: 2vh;
                        margin-top: 2vh;

                        .logo{
                            padding: 0;
                            height: 4vh;
                            a{
                                color: $mainTextColor;
                                
                                img{
                                    height: 3vh;
                                }
                            }
                            span{
                                @include contentFontRegularStyleProfile();
                                font-size: 2vh;
                            }
                        }
                    }
                    .likeButton{
                        padding-top: 2vh;
                        border-top: 1px solid black;

                        button{
                            border: none;
                            background: none;
                            @include headingFontBoldStyleProfile();
                            font-size: 2.7vh;

                            &:hover{
                                color: #0AA1DD;
                            }
                        }
                    }
                }
                .comment{
                    .buttons{
                        margin-top: 8vh;
                        padding-top: 2vh;
                        border-top: 1px solid black;

                        button{
                            border: none;
                            background: none;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;

                            p{
                                text-align: center;
                                @include headingFontBoldStyleProfile();
                                font-size: 2.7vh;
                            }
                            &:hover{
                                p{
                                    color: #0AA1DD;
                                }
                            }
                        }
                    }
                }
            }
            .comments{
                padding-left: 3vh;
                padding-right: 3vh;
                position: relative;

                .commentCount{
                    margin-bottom: 2vh;
                    position: absolute;
                    text-align: right;
                    right: 0;
                    top: -11.7vh;
                    margin-right: 2vh;
                    z-index: -10;
                    
                    span{
                        @include contentFontRegularStyleProfile();
                        font-size: 2vh;
                    }
                }
                .profPhoto{
                    @include circlePhoto();
                    width: 40px;
                    height: 40px;
                    margin-top: 2vh;
                }
                .commentTile{
                    border: 1px solid $mainTextColor;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    padding: 1vh;
                    margin-bottom: 2vh;
                    border-radius: 2vh;
                    padding-top: 3vh;
                    padding-bottom: 3vh;
                    margin-top: 2vh;
                }
                .name{
                    h1{
                        @include headingFontBoldStyleProfile();
                        font-size: 2vh;
                        margin-bottom: 1vh;

                        span{
                            padding-left: 2vh;
                            @include contentFontRegularStyleProfile();
                            font-size: 1.7vh;
                        }
                    }
                    p{
                        @include contentFontRegularStyleProfile();
                        font-size: 2.3vh;
                        
                    }
                }
                .settings{
                    button{
                        float: right;
                        border: none;
                        background: none;

                        &:hover{
                            border: 1px solid black;
                            border-radius: 1vh;
                        }
                    }
                }
            }
            .form{
                margin-top: 2vh;
                margin-bottom: 2vh;
                padding: 0;
                padding-left: 3vh;
                padding-right: 3vh;
                
                button{
                    border-top: 1px solid $mainTextColor;
                    border-right: 1px solid $mainTextColor;
                    border-bottom: 1px solid $mainTextColor;
                    border-left: none;
                    background: none;
                    z-index: 10;
                    border-radius: 2vh;

                    i{
                        font-size: 3vh;
                        padding-right: 1vh;
                        padding-left: 1vh;
                    }
                    &:hover{
                        color: #0AA1DD;
                    }
                }
                input{
                    border-top: 1px solid $mainTextColor;
                    border-left: 1px solid $mainTextColor;
                    border-bottom: 1px solid $mainTextColor;
                    border-right: none;

                    &:focus{
                        outline:0px !important;
                        -webkit-appearance:none;
                        box-shadow: none !important;
                    }
                }
                label{
                    @include contentFontRegularStyleProfile();
                    padding-left: 5vh;
                    z-index: 10;
                }
                }
        }
        .noPostImage{
            margin-top: 3vh;
            img{
                height: 30vh;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
        }
        .noPostContent{
            width: 35vw;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3vh;
            p{
                @include contentFontBoldStyleProfile();
                text-align: center;
            }
        }
    }
    
    
}

// Error 404 Page
section.error404{
    background:linear-gradient(90deg,#79DAE8,#0AA1DD);
    height: 90vh;
    overflow: hidden;

    .image{
        img{
            height: 80vh;
        }
    }
    .warning{
        .title{
            margin-bottom: 4vh;

            h1{
                @include headingFontBoldStyle();
                font-size: 7vh;
            }
        }
        .content{
            margin-bottom: 4vh;

            p{
                @include contentFontBoldStyle();
                font-size: 3.5vh;
            }
        }
        .button{
            button{
                background: #EDAC04;
                border: none;
                @include headingFontBoldStyle();
                font-size: 2.8vh;
                padding: 2vh;
                border-radius: 1vh;
            }
        }
    }
}

// Footer Section
footer{
    background:linear-gradient(90deg,#79DAE8,#0AA1DD);
    position: absolute;
    bottom: 0;
    width: 100%;
    
    .container{
        border-top: 1px solid $secondTextColor;
        text-align: center;

        p{
            @include contentFontRegularStyle();
            font-size: 1.5vh;
            padding-top: 2vh;
            
            &.options{
                padding-bottom: 2vh;

                a{
                    color: $secondTextColor;

                    &.margin{
                        margin-right: 2vh;
                    }
                }
            }
        }
    }
    
}
@media all and (max-width:575px){
}
@media all and (min-width:576px) and (max-width:767px) and (orientation:landscape){
    footer{
        .container{
            p{
                padding-bottom: 2vh;

                &.copyright{
                    float: left;
                }
                &.options{
                    float: right;
    
                    a{
                        margin-left: 10vh;
                    }
                }
            }
        }
    }
}
@media all and (min-width:768px) and (max-width:991px){
    footer{
        .container{
            p{
                padding-bottom: 2vh;

                &.copyright{
                    float: left;
                }
                &.options{
                    float: right;
    
                    a{
                        margin-left: 3vh;
                    }
                }
            }
        }
    }
}
@media all and (min-width:768px) and (max-width:991px) and (orientation:landscape){
    footer{
        .container{
            p{
                padding-bottom: 2vh;

                &.copyright{
                    float: left;
                }
                &.options{
                    float: right;
    
                    a{
                        margin-left: 10vh;
                    }
                }
            }
        }
    }
}
@media all and (min-width:992px) and (max-width:1199px){
    footer{
        .container{
            p{
                padding-bottom: 2vh;

                &.copyright{
                    float: left;
                }
                &.options{
                    float: right;
    
                    a{
                        margin-left: 3vh;
                    }
                }
            }
        }
    }
}
@media all and (min-width:1200px){
    footer{
        .container{
            p{
                padding-bottom: 2vh;

                &.copyright{
                    float: left;
                }
                &.options{
                    float: right;
    
                    a{
                        margin-left: 10vh;
                    }
                }
            }
        }
    }
}