* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #79DAE8, #0AA1DD);
}

nav a {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-weight: 900;
  font-size: 3.5vh;
}

section.hero p {
  color: white;
  font-family: Poppins;
  font-weight: 900;
  font-size: 6vh;
  margin-top: 20vh;
}
