* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, p {
  margin: 0;
}

nav {
  background: linear-gradient(90deg, #79DAE8, #0AA1DD);
  border: none;
}

nav .home p {
  font-family: Poppins;
  font-weight: 900;
  color: white;
  font-size: 3.5vh;
  margin-bottom: 0;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

nav .forms p {
  font-family: Poppins;
  font-weight: 900;
  color: white;
  font-size: 3.5vh;
  margin-bottom: 0;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

nav.loggedIn nav {
  background: none;
  position: relative;
}

nav.loggedIn nav .navImageCircle {
  background-color: black;
  border-radius: 20vh;
  height: 33px;
  width: 33px;
  margin-left: 2vh;
}

nav.loggedIn nav a {
  margin-left: 4vh;
}

nav.loggedIn nav a i {
  font-size: 3.9vh;
  color: white;
}

nav.loggedIn nav a:hover i {
  color: black;
}

nav.loggedIn nav ul {
  padding-bottom: 2vh;
}

nav.loggedIn nav ul li {
  width: 16vw;
}

nav.loggedIn nav ul li a {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  padding: 2vh;
  margin: 0;
  transition: 0.2s all ease-in;
}

nav.loggedIn nav ul li a i {
  color: black;
  margin-right: 1.3vh;
  transition: 0.2s all ease-in;
}

nav.loggedIn nav ul li a:hover {
  color: white;
  background-color: #0AA1DD;
}

nav.loggedIn nav ul li a:hover i {
  color: white;
}

@media all and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
  nav .home p {
    text-align: left;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  nav .home p {
    text-align: left;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  nav .home p {
    text-align: left;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  nav .home p {
    text-align: left;
  }
}

section.hero {
  background: linear-gradient(90deg, #79DAE8, #0AA1DD);
  height: 90vh;
  overflow: hidden;
}

section.hero .tagLine {
  text-align: center;
}

section.hero .tagLine p {
  font-family: Poppins;
  font-weight: 900;
  color: white;
  font-size: 5.5vh;
  margin-top: 17vh;
}

section.hero .tagLine input {
  background: #EDAC04;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 2.8vh;
  padding: 2vh;
  border-radius: 1vh;
  margin-top: 3vh;
  margin-right: 4vh;
}

section.hero .tagLine input.margin {
  margin-right: 0;
}

section.hero .gif {
  display: none;
}

section.hero .signUpForm h1 {
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 5vh;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

section.hero .signUpForm .form input {
  background: transparent;
  border: 1px solid white;
  height: 9vh;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  width: 74%;
}

section.hero .signUpForm .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: white;
  font-size: 2.2vh;
}

section.hero .signUpForm .errorMessage {
  border-radius: 1vh;
  text-align: center;
}

section.hero .signUpForm .errorMessage p {
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  font-size: 2vh;
}

section.hero .signUpForm .errorMessage p.emailError {
  padding: 22px;
}

section.hero .signUpForm .errorMessage p.passwordError {
  font-size: 1.9vh;
}

section.hero .signUpForm .errorMessage p.confirmpasswordError {
  padding: 10px;
}

section.hero .signUpForm .submit input {
  background: #EDAC04;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  padding: 1.5vh;
  border-radius: 1vh;
  margin-top: 1vh;
}

section.hero .signUpForm .submit p {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin-bottom: 0;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  font-size: 2vh;
  float: right;
}

section.hero .signUpForm .submit p a {
  color: white;
  font-family: Quicksand;
  font-weight: bold;
  color: white;
}

section.hero .signUpForm .row .form input {
  width: 100%;
}

section.hero .signUpForm .row .form label {
  margin-left: 2vh;
}

section.hero .loginForm h1 {
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 5vh;
  margin-bottom: 4vh;
  margin-top: 10vh;
}

section.hero .loginForm .form input {
  background: transparent;
  border: 1px solid white;
  height: 9vh;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  width: 74%;
}

section.hero .loginForm .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: white;
  font-size: 2.2vh;
}

section.hero .loginForm .submit input {
  background: #EDAC04;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  padding: 1.5vh;
  border-radius: 1vh;
  margin-top: 1vh;
}

section.hero .loginForm .submit p {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  margin-bottom: 0;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  font-size: 2vh;
  float: right;
}

section.hero .loginForm .submit p a {
  color: white;
  font-family: Quicksand;
  font-weight: bold;
  color: white;
}

section.hero .loginForm .errorMessage {
  padding-top: 4vh;
  padding-bottom: 4vh;
}

section.hero .loginForm .errorMessage p {
  display: inline;
  border-radius: 1vh;
  padding: 2vh;
  font-size: 2vh;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
}

section.hero .profile h1 {
  font-family: Poppins;
  font-weight: bold;
  color: white;
  font-size: 5vh;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

section.hero .profile .form input {
  background: transparent;
  border: 1px solid white;
  height: 9vh;
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  width: 74%;
}

section.hero .profile .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: white;
  font-size: 2.2vh;
}

section.hero .profile .form.image-upload input {
  border: none;
}

section.hero .profile .submit input[type=submit] {
  background: #EDAC04;
  border: none;
  font-family: Poppins;
  font-weight: bold;
  color: white;
  padding: 1.5vh;
  border-radius: 1vh;
  margin-top: 1vh;
}

section.hero .friends img {
  height: 20vh;
}

@media all and (min-width: 540px) and (max-height: 720px) {
  section.hero .tagLine p {
    font-size: 6vh;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) and (orientation: portrait) {
  section.hero .col-sm-6 {
    width: 100%;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
  section.hero .tagLine {
    text-align: left;
  }
  section.hero .gif {
    display: block;
  }
  section.hero .gif img {
    height: 70vh;
    border-radius: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  section.hero .col-md-12 {
    width: 50%;
  }
  section.hero .tagLine {
    text-align: left;
  }
  section.hero .gif {
    display: block;
  }
  section.hero .gif img {
    height: 70vh;
    border-radius: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) and (orientation: portrait) {
  section.hero .col-lg-6 {
    width: 100%;
  }
  section.hero .tagLine p {
    font-size: 6vh;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
  section.hero .tagLine {
    text-align: left;
  }
  section.hero .gif {
    display: block;
  }
  section.hero .gif img {
    height: 70vh;
    border-radius: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  section.hero .tagLine {
    text-align: left;
  }
  section.hero .tagLine p {
    margin-top: 20vh;
  }
  section.hero .tagLine input {
    margin-top: 3vh;
    margin-right: 4vh;
  }
  section.hero .gif {
    display: block;
  }
  section.hero .gif img {
    height: 70vh;
    border-radius: 2vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
  }
}

section.profile {
  margin-top: 6vh;
}

section.profile .circlePhoto {
  background-color: black;
  border-radius: 20vh;
  height: 160px;
  width: 160px;
}

section.profile .profileName {
  padding-top: 7vh;
  padding-bottom: 7vh;
}

section.profile .profileName h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
}

section.profile .profileName p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 4vh;
}

section.profile .profileName .form {
  padding: 0;
}

section.profile .profileName .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: black;
}

section.profile .profileName .form input {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  border: 1px solid black;
  height: 9vh;
}

section.profile .otherProfile h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
}

section.profile .otherProfile h1 p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 4vh;
}

section.profile .profileFeed .info .intro {
  border: 1px solid black;
  border-radius: 2vh;
  padding: 3vh;
  padding-top: 4vh;
  padding-bottom: 5vh;
  width: 90%;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

section.profile .profileFeed .info .intro h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 4vh;
  margin-bottom: 3vh;
}

section.profile .profileFeed .info .intro p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 3vh;
  margin-bottom: 1.5vh;
}

section.profile .profileFeed .info .intro p span {
  font-family: Poppins;
  font-weight: bold;
  color: black;
}

section.profile .profileFeed .info .intro .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: black;
}

section.profile .profileFeed .info .intro .form input {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  border: 1px solid black;
}

section.profile .profileFeed .info .intro button {
  width: 100%;
  border: none;
  background-color: #0AA1DD;
  border-radius: 2vh;
  margin-top: 2vh;
  transition: 0.2s all ease-in-out;
}

section.profile .profileFeed .info .intro button h1 {
  margin: 0;
  padding: 2vh;
  font-size: 3vh;
  color: white;
  transition: 0.2s all ease-in-out;
}

section.profile .profileFeed .info .intro button:hover {
  background-color: white;
  border: 1px solid black;
}

section.profile .profileFeed .info .intro button:hover h1 {
  color: #0AA1DD;
}

section.profile .profileFeed .newsFeed .feed {
  border: 1px solid black;
  border-radius: 2vh;
  padding: 3vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

section.profile .profileFeed .newsFeed .feed .profImage {
  background-color: black;
  border-radius: 20vh;
  height: 59px;
  width: 59px;
  margin-left: 2vh;
}

section.profile .profileFeed .newsFeed .feed .postInput .form button {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  background: none;
  border-radius: 1vh;
}

section.profile .profileFeed .newsFeed .feed .postInput .form button i {
  padding-right: 1vh;
  padding-left: 1vh;
  font-size: 3vh;
}

section.profile .profileFeed .newsFeed .feed .postInput .form button:hover i {
  color: #0AA1DD;
}

section.profile .profileFeed .newsFeed .feed .postInput input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
}

section.profile .profileFeed .newsFeed .feed .postInput input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

section.profile .profileFeed .newsFeed .feed .postInput label {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  z-index: 10;
}

section.profile .profileFeed .newsFeed .post {
  border: 1px solid black;
  border-radius: 2vh;
  padding: 2vh;
  padding-top: 4vh;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

section.profile .profileFeed .newsFeed .post .profImage {
  background-color: black;
  border-radius: 20vh;
  height: 70px;
  width: 70px;
  margin-left: 2vh;
}

section.profile .profileFeed .newsFeed .post .postName {
  padding: 0;
}

section.profile .profileFeed .newsFeed .post .postName h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 3vh;
}

section.profile .profileFeed .newsFeed .post .postName h1 p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2.2vh;
}

section.profile .profileFeed .newsFeed .post .postSettings .dropdown a {
  font-size: 3vh;
}

section.profile .profileFeed .newsFeed .post .postSettings .dropdown ul li a {
  color: black;
  font-size: 2.5vh;
}

section.profile .profileFeed .newsFeed .post .postContent {
  margin-top: 5vh;
  padding-left: 3.4vh;
  margin-bottom: 5vh;
}

section.profile .profileFeed .newsFeed .post .postContent p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 4vh;
}

section.profile .profileFeed .newsFeed .post .postMenu {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likesCount {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likesCount .logo {
  padding: 0;
  height: 4vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likesCount .logo a {
  color: black;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likesCount .logo a img {
  height: 3vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likesCount .logo span {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likeButton {
  padding-top: 2vh;
  border-top: 1px solid black;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likeButton button {
  border: none;
  background: none;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2.7vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .likes .likeButton button:hover {
  color: #0AA1DD;
}

section.profile .profileFeed .newsFeed .post .postMenu .comment .buttons {
  margin-top: 8vh;
  padding-top: 2vh;
  border-top: 1px solid black;
}

section.profile .profileFeed .newsFeed .post .postMenu .comment .buttons button {
  border: none;
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.profile .profileFeed .newsFeed .post .postMenu .comment .buttons button p {
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2.7vh;
}

section.profile .profileFeed .newsFeed .post .postMenu .comment .buttons button:hover p {
  color: #0AA1DD;
}

section.profile .profileFeed .newsFeed .post .comments {
  padding-left: 3vh;
  padding-right: 3vh;
  position: relative;
}

section.profile .profileFeed .newsFeed .post .comments .commentCount {
  margin-bottom: 2vh;
  position: absolute;
  text-align: right;
  right: 0;
  top: -11.7vh;
  margin-right: 2vh;
  z-index: -10;
}

section.profile .profileFeed .newsFeed .post .comments .commentCount span {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2vh;
}

section.profile .profileFeed .newsFeed .post .comments .profPhoto {
  background-color: black;
  border-radius: 20vh;
  width: 40px;
  height: 40px;
  margin-top: 2vh;
}

section.profile .profileFeed .newsFeed .post .comments .commentTile {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1vh;
  margin-bottom: 2vh;
  border-radius: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 2vh;
}

section.profile .profileFeed .newsFeed .post .comments .name h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2vh;
  margin-bottom: 1vh;
}

section.profile .profileFeed .newsFeed .post .comments .name h1 span {
  padding-left: 2vh;
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 1.7vh;
}

section.profile .profileFeed .newsFeed .post .comments .name p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2.3vh;
}

section.profile .profileFeed .newsFeed .post .comments .settings button {
  float: right;
  border: none;
  background: none;
}

section.profile .profileFeed .newsFeed .post .comments .settings button:hover {
  border: 1px solid black;
  border-radius: 1vh;
}

section.profile .profileFeed .newsFeed .post .form {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  padding-left: 3vh;
  padding-right: 3vh;
}

section.profile .profileFeed .newsFeed .post .form button {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  background: none;
  z-index: 10;
  border-radius: 2vh;
}

section.profile .profileFeed .newsFeed .post .form button i {
  font-size: 3vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

section.profile .profileFeed .newsFeed .post .form button:hover {
  color: #0AA1DD;
}

section.profile .profileFeed .newsFeed .post .form input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
}

section.profile .profileFeed .newsFeed .post .form input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

section.profile .profileFeed .newsFeed .post .form label {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  padding-left: 5vh;
  z-index: 10;
}

section.searchPage .form button {
  background: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-radius: 1vh;
}

section.searchPage .form button i {
  font-size: 3vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

section.searchPage .form button:hover {
  color: #0AA1DD;
}

section.searchPage .form input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
  font-family: Quicksand;
  font-weight: 400;
  color: black;
}

section.searchPage .form input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

section.searchPage .form label {
  font-family: Quicksand;
  font-weight: bold;
  color: black;
  z-index: 10;
}

section.searchPage .searchTile {
  margin-bottom: 4vh;
  margin-top: 4vh;
}

section.searchPage .searchTile .image img {
  height: 70px;
  float: right;
}

section.searchPage .searchTile .detail h1 {
  font-size: 3vh;
  font-family: Poppins;
  font-weight: bold;
  color: black;
}

section.searchPage .searchTile .detail h1 a {
  color: black;
}

section.searchPage .searchTile .detail h1 a:hover {
  color: #0AA1DD;
}

section.searchPage .searchTile .detail small {
  font-family: Quicksand;
  font-weight: bold;
  color: black;
  font-size: 2.5vh;
}

section.friendRequests .title {
  margin-bottom: 5vh;
}

section.friendRequests .title h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 5vh;
}

section.friendRequests .friendsProfile {
  margin-bottom: 4vh;
}

section.friendRequests .friendsProfile .friendsImage img {
  height: 80px;
}

section.friendRequests .friendsProfile .friendsDetail h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 3vh;
}

section.friendRequests .friendsProfile .friendsDetail h1 small {
  font-family: Quicksand;
  font-weight: bold;
  color: black;
  font-size: 2.5vh;
}

section.friendRequests .friendsProfile .friendsDetail button {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0;
  text-align: left;
}

section.friendRequests .friendsProfile .friendsDetail button i {
  font-size: 3vh;
}

section.friendRequests .friendsProfile .friendsDetail button i.green {
  color: green;
}

section.friendRequests .friendsProfile .friendsDetail button i.red {
  color: red;
}

section.settings .title {
  margin-bottom: 6vh;
}

section.settings .title h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 5vh;
  padding-bottom: 4vh;
  border-bottom: 1px solid black;
}

section.settings .account .accountMenuTitle {
  margin-bottom: 4vh;
}

section.settings .account .accountMenuTitle h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 3vh;
}

section.settings .account .accountMenuInput p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
}

section.settings .account .edit button {
  background: none;
  border: none;
  float: right;
}

section.settings .account .edit button i {
  font-size: 2.8vh;
}

section.settings .account .delete {
  margin-top: 2vh;
}

section.settings .account .delete button {
  background-color: #d31010;
  border: none;
  padding: 2vh;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  border-radius: 2vh;
  transition: 0.2s all ease-in-out;
}

section.settings .account .delete button p {
  color: white;
  transition: 0.2s all ease-in-out;
}

section.settings .account .delete button:hover {
  background: none;
  border: 1px solid black;
}

section.settings .account .delete button:hover p {
  color: #d31010;
}

section.notifications h1.title {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 5vh;
}

section.notifications h1.menu {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 4vh;
  margin-top: 5vh;
}

section.notifications .notif {
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 2vh;
  margin-top: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
}

section.notifications .notif:hover {
  background-color: #d5f7fc;
}

section.notifications .notif .circlePhoto {
  background-color: black;
  border-radius: 20vh;
  height: 70px;
  width: 70px;
}

section.notifications .notif .notifTile p {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2.5vh;
}

section.notifications .notif .notifTile p span {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
}

section.notifications .notif .blueDot {
  height: 13px;
  width: 13px;
  background-color: #0AA1DD;
  border-radius: 20vh;
  padding: 9;
}

section.notifIndivPost {
  margin-top: 5vh;
}

section.notifIndivPost .notifTiles {
  margin-left: auto;
}

section.notifIndivPost .notifTiles .post {
  border: 1px solid black;
  border-radius: 2vh;
  padding: 2vh;
  padding-top: 4vh;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

section.notifIndivPost .notifTiles .post .profImage {
  background-color: black;
  border-radius: 20vh;
  height: 70px;
  width: 70px;
  margin-left: 2vh;
}

section.notifIndivPost .notifTiles .post .postName {
  padding: 0;
}

section.notifIndivPost .notifTiles .post .postName h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 3vh;
}

section.notifIndivPost .notifTiles .post .postName h1 p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2.2vh;
}

section.notifIndivPost .notifTiles .post .postSettings .dropdown a {
  font-size: 3vh;
}

section.notifIndivPost .notifTiles .post .postSettings .dropdown ul li a {
  color: black;
  font-size: 2.5vh;
}

section.notifIndivPost .notifTiles .post .postContent {
  margin-top: 5vh;
  padding-left: 3.4vh;
  margin-bottom: 5vh;
}

section.notifIndivPost .notifTiles .post .postContent p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 4vh;
}

section.notifIndivPost .notifTiles .post .postMenu {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likesCount {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likesCount .logo {
  padding: 0;
  height: 4vh;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likesCount .logo a {
  color: black;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likesCount .logo a img {
  height: 3vh;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likesCount .logo span {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2vh;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likeButton {
  padding-top: 2vh;
  border-top: 1px solid black;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likeButton button {
  border: none;
  background: none;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2.7vh;
}

section.notifIndivPost .notifTiles .post .postMenu .likes .likeButton button:hover {
  color: #0AA1DD;
}

section.notifIndivPost .notifTiles .post .postMenu .comment .buttons {
  margin-top: 8vh;
  padding-top: 2vh;
  border-top: 1px solid black;
}

section.notifIndivPost .notifTiles .post .postMenu .comment .buttons button {
  border: none;
  background: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.notifIndivPost .notifTiles .post .postMenu .comment .buttons button p {
  text-align: center;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2.7vh;
}

section.notifIndivPost .notifTiles .post .postMenu .comment .buttons button:hover p {
  color: #0AA1DD;
}

section.notifIndivPost .notifTiles .post .comments {
  padding-left: 3vh;
  padding-right: 3vh;
  position: relative;
}

section.notifIndivPost .notifTiles .post .comments .commentCount {
  margin-bottom: 2vh;
  position: absolute;
  text-align: right;
  right: 0;
  top: -11.7vh;
  margin-right: 2vh;
  z-index: -10;
}

section.notifIndivPost .notifTiles .post .comments .commentCount span {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2vh;
}

section.notifIndivPost .notifTiles .post .comments .profPhoto {
  background-color: black;
  border-radius: 20vh;
  width: 40px;
  height: 40px;
  margin-top: 2vh;
}

section.notifIndivPost .notifTiles .post .comments .commentTile {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1vh;
  margin-bottom: 2vh;
  border-radius: 2vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 2vh;
}

section.notifIndivPost .notifTiles .post .comments .name h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  font-size: 2vh;
  margin-bottom: 1vh;
}

section.notifIndivPost .notifTiles .post .comments .name h1 span {
  padding-left: 2vh;
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 1.7vh;
}

section.notifIndivPost .notifTiles .post .comments .name p {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  font-size: 2.3vh;
}

section.notifIndivPost .notifTiles .post .comments .settings button {
  float: right;
  border: none;
  background: none;
}

section.notifIndivPost .notifTiles .post .comments .settings button:hover {
  border: 1px solid black;
  border-radius: 1vh;
}

section.notifIndivPost .notifTiles .post .form {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  padding-left: 3vh;
  padding-right: 3vh;
}

section.notifIndivPost .notifTiles .post .form button {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  background: none;
  z-index: 10;
  border-radius: 2vh;
}

section.notifIndivPost .notifTiles .post .form button i {
  font-size: 3vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

section.notifIndivPost .notifTiles .post .form button:hover {
  color: #0AA1DD;
}

section.notifIndivPost .notifTiles .post .form input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
}

section.notifIndivPost .notifTiles .post .form input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

section.notifIndivPost .notifTiles .post .form label {
  font-family: Quicksand;
  font-weight: 400;
  color: black;
  padding-left: 5vh;
  z-index: 10;
}

footer {
  background: linear-gradient(90deg, #79DAE8, #0AA1DD);
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .container {
  border-top: 1px solid white;
  text-align: center;
}

footer .container p {
  font-family: Quicksand;
  font-weight: 400;
  color: white;
  font-size: 1.5vh;
  padding-top: 2vh;
}

footer .container p.options {
  padding-bottom: 2vh;
}

footer .container p.options a {
  color: white;
}

footer .container p.options a.margin {
  margin-right: 2vh;
}

@media all and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
  footer .container p {
    padding-bottom: 2vh;
  }
  footer .container p.copyright {
    float: left;
  }
  footer .container p.options {
    float: right;
  }
  footer .container p.options a {
    margin-left: 10vh;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  footer .container p {
    padding-bottom: 2vh;
  }
  footer .container p.copyright {
    float: left;
  }
  footer .container p.options {
    float: right;
  }
  footer .container p.options a {
    margin-left: 3vh;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  footer .container p {
    padding-bottom: 2vh;
  }
  footer .container p.copyright {
    float: left;
  }
  footer .container p.options {
    float: right;
  }
  footer .container p.options a {
    margin-left: 10vh;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  footer .container p {
    padding-bottom: 2vh;
  }
  footer .container p.copyright {
    float: left;
  }
  footer .container p.options {
    float: right;
  }
  footer .container p.options a {
    margin-left: 3vh;
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  footer .container p {
    padding-bottom: 2vh;
  }
  footer .container p.copyright {
    float: left;
  }
  footer .container p.options {
    float: right;
  }
  footer .container p.options a {
    margin-left: 10vh;
  }
}
